@import 'constants.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



h1 {
  color: $colorWhite;
  text-align: center;
  font: normal normal normal 100px/95px $textHeadline;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

h2 {
  color: $colorRed;
  text-align: center;
  font: normal normal normal 50px/38px $textHeadline;
  letter-spacing: 0px;
  color: #7A4342;
}

h3 {
  color: $colorRed;
  text-align: center;
  font: normal normal normal 40px/38px $textFont;
  letter-spacing: 0px;
  color: #7A4342;
}

p {
  text-align: center;
  font: normal normal normal 20px/24px $textFont;
  color: $colorRed;
  letter-spacing: 1px;
}

@media (max-width: 700px) {
  h1 {
    font: normal normal normal 80px/75px $textHeadline;
  }
  h2 {
    font: normal normal normal 40px/28px $textHeadline;
  }
  h3 {
    font: normal normal normal 30px/28px $textFont;
  }
  p {
    font: normal normal normal 18px/20px $textFont;
  } 
}