.container {
    max-width: 800px;
    margin: auto;
  }
  
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 533px;
  }
  
  .text {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  
  .indicators {
    padding-left: 0 !important;
  }